<div class="contenedor">
        <div class="row" style="margin-top:70px; text-align: center;">
                <div class="col-md-4 nav-barrita" >Bienvenido: Antony Almonacid</div>
                <div class="col-md-4"></div>
                <div class="col-md-4 nav-barrita">Saldo disponible: 30.00</div>
        </div>
    
    <!--     
        <div class="barra">
            <nav class="navbar navbar-expand-sm" style="margin-top:60px;">
                    <a class="navbar-brand">Bienvenido: Antony Almonacid</a>
                    <a class="navbar-brand justify-content-end">Saldo disponible: 0.00</a>
                </nav>
            </div>     -->
        
            <div class="estante row" style="justify-content: center;">
                <div class="card text-center tarjeta col-md-3 " style="width: 18rem;">
                    <div class="contenedor-imagen">
                        <img class="card-img-top imagen" src="https://e.rpp-noticias.io/normal/2015/04/23/1479391.jpg" alt="Card image cap">
                    </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">Rapidos y furiosos</h5>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Adam Hofman</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Pelicula de accion</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-title">15.00</p>
                                </li>
                                <li class="list-group-item">
                                    <div class="botones">   <!--addBook(book.idbook)-->
                                        <button type="button" class="btn btn-primary nav-boton" (click)="addBook(book)">Alquilar</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="card text-center tarjeta col-md-3 " style="width: 18rem;">
                        <div class="contenedor-imagen">
                            <img class="card-img-top imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtmPhZrFA1d_Jde56Cj7IXBk-fgknkcEnlAzEPOJQ7KD01hKK8" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">Terror en el mar</h5>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Kuraj Mars</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Terror psicologico</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-title">13.00</p>
                                </li>
                                <li class="list-group-item">
                                    <div class="botones">   <!--addBook(book.idbook)-->
                                        <button type="button" class="btn btn-primary nav-boton" (click)="addBook(book)">Alquilar</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="card text-center tarjeta col-md-3" style="width: 18rem;">
                        <div class="contenedor-imagen">
                            <img class="card-img-top imagen" src="https://cdne.diariocorreo.pe/thumbs/uploads/img/2019/10/03/cartelera-joker-y-todas-peliculas-que-podras-914287-598672-jpg_976x0.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">El regreso del wason</h5>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Steve Nuwman</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">Accion y drama</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-title">12.00</p>
                                </li>
                                <li class="list-group-item">
                                    <div class="botones">   <!--addBook(book.idbook)-->
                                        <button type="button" class="btn btn-primary nav-boton" (click)="addBook(book)">Alquilar</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
                
            </div>

            <!-- <div class="row" style="text-align: center;">
                    <div class="col-md-4 nav-barrita" ></div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3 nav-barrita">
                            <form class="form" (submit) = "buttonAtras($event)">
                                <button type="submit" class="btn btn-primary nav-boton" style="background-color: #0043ca">Atras</button>
                            </form>
                    </div>
            </div> -->
    
</div>
    
