
<div class="contenedor">

    <div class="row" style="margin-top:70px; text-align: center;">
            <div class="col-md-4 nav-barrita" >Bienvenido: Antony Almonacid</div>
            <div class="col-md-4"></div>
            <div class="col-md-4 nav-barrita">Saldo disponible: 30.00</div>
    </div>

<!--     
    <div class="barra">
        <nav class="navbar navbar-expand-sm" style="margin-top:60px;">
                <a class="navbar-brand">Bienvenido: Antony Almonacid</a>
                <a class="navbar-brand justify-content-end">Saldo disponible: 0.00</a>
            </nav>
        </div>     -->

    <div class="titulo">
        
        <h1 class="nav-titulo">MENÚ DE OPCIONES </h1>
    </div>
    <div class="opciones">
        <form class="form" (submit) = "button1($event)">
            <div class="recargar">
                
                <button type="submit" class="btn btn-primary nav-boton" style="background-color: #0043ca">Recargar saldo</button>
            </div>
        </form>
        <form class="form" (submit) = "button2($event)">
            <div class="alquilar">
                <button type="submit" class="btn btn-primary nav-boton"  style="background-color: #0043ca">
                        Alquilar
                </button>
            </div>
        </form>
        <form class="form" (submit) = "button3($event)" >
            <div class="devolver">
                <button type="submit" class="btn btn-primary nav-boton"  style="background-color: #0043ca">Devolver</button>
            </div>
        </form>
    </div>
</div>
